streamlit
torch
torchaudio
transformers
sentence-transformers
faiss-cpu
librosa
soundfile
pydub
pretty_midi
mido
midi2audio
numpy
pandas
scikit-learn
huggingface_hub
streamlit
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
